.header-container {
  background-color: #D0E2F2;
}

.header {	
}

.gizmos-background {
  background-color: #8AA6BF;
}

.external-api-container {
  background-color: #B3CFF2;
}

.external-api {
}

.basement-builder-container {
  background-color: #9BC1F2;
}

.basement-builder {
}

.footer-container {
  background-color: #405673;
}

.footer {
}