/* Gizmo Scenery */
.gizmos-container {
  display: grid;
  grid-template: repeat(18, 50px) / repeat(8, 1fr);
  position: relative;
  overflow: hidden;
}

.gizmos-container:before {
    content: '';
    height: 100%;
    width: 100%;
    background-color: #fff;
    opacity: 0.98;
    position: absolute;
    z-index: 999;
    transition: opacity 0.75s;
    pointer-events: none;
  }

  .gizmos-container:after {
    content: "Sorry, this section was designed for larger screens";
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 999;
    display: grid;
    align-items: center;
    justify-content: center;
    font-size: 30px;
  }
/*
.gizmo-button-container {
  grid-area: 5 / 1 / 6 / 2;
  z-index: 2;
}
*/
.gizmo-creater-container {
  grid-area: 5 / 1 / 14 / 6;
  display: grid;
  grid-template: repeat(9, 50px) / repeat(5, 1fr);
  text-align: center;
  position: relative;
}

.gizmo-updates-container {
  position: relative;
  background-color: #cecfd1;
  border-radius: 20px 20px 2px 2px;
  width: 250px;
  height: 200px;
  margin: 10px auto 0;
  display: grid;
  grid-area: 1 / 1 / -1 / 3;
}

  .gizmo-updates-container:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-top: 4px solid #673d6d;
    border-right: 4px solid #673d6d;
    border-left: 4px solid #673d6d;
    border-radius: 20px 20px 2px 2px;
    box-sizing: border-box;
  }

  #gizmo-updates-screen {
    background-color: #444;
    height: calc(100% - 54px);
    border-radius: 10px;
    margin: 20px;
    padding: 2px;
    color: #7fff00;
    font-size: 2px;
    list-style-type: none;
    text-align: left;
    overflow: hidden;
  }

#gizmo-lift {
  grid-area: 14 / 1 / 15 / 4;
  background-color: #cecfd1;
  position: relative;
  border-radius: 0 5px 25px 0;
  height: 25px;
  margin-top: 0px;
  margin-right: 25px;
  transition: margin-top 2.0s linear;
}

  #gizmo-lift:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    border-bottom: 10px solid #afa3b3;
    border-radius: 0 0 20px 0;
  }

  #gizmo-lift:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    border: 4px solid #673d6d;
    box-sizing: border-box;
    border-left: none;
    border-radius: 0 5px 25px 0;
  }

.gizmo-converter-container {
  z-index: 2;
  grid-area: 10 / 4 / -1 / 6;
  display: grid;
  grid-template: repeat(9, 50px) / repeat(2, 1fr);
}

  .gizmo-converter {
    grid-area: 5 / 1 / -1 / -1; 
    width: 250px;
    margin: 0 auto;
    background-color: #cecfd1;
    border-right: 4px solid #673d6d;
    border-bottom: 4px solid #673d6d;
    border-left: 4px solid #673d6d;
    box-sizing: border-box;
    position: relative;
    display: grid;
    grid-template: repeat(4, 50px) / repeat(2, 1fr);
  }

  .gizmo-converter:before {
    content: '';
    position: absolute;
    bottom: 70px;
    width: 100%;
    height: 10px;
    border-top: 4px solid #673d6d;
    background-color: #afa3b3;
    box-sizing: border-box;
  }

  .gizmo-converter:after {
    content: '';
    height: 100%;
    width: 100%;
    border-top: 4px solid #afa3b3;    
    position: absolute;
    box-sizing: border-box;
  }

  .gizmo-converter > div {
    position: relative;
  }

   .gizmo-button {
    left: calc(50% - 30px);
    bottom: 30px;
    width: 60px;
    text-align: center;
    height: 14px;
    margin: 0 auto;
    position: absolute;
    z-index: 2;
    cursor: pointer;
    transition: height 0.15s ease, background-color 0.25s linear;    
  }

    .gizmo-button:before {
      content: '';
      height: 30px;
      width: 100%;
      position: absolute;
      border-radius: 50%;
      top: -14px;
      left: 0;
      z-index: 2;
      transition: background-color 0.25s linear;
    }

    .gizmo-button:after {
      content: '';
      height: 20px;
      width: 100%;
      position: absolute;
      border-radius: 50%;
      bottom: -10px;
      left: 0;
      z-index: 1;
      transition: background-color 0.25s linear;
    }


    .gizmo-button-diabled,
    .gizmo-button-diabled:before,
    .gizmo-button-diabled:after {
      background-color: #f1f1f1 !important;
    }

    .gizmo-button-diabled:before {
      border-color: #c4c2c2 !important;
    }

    .gizmo-button-diabled i {
      color: #c4c2c2 !important;
    }



  .gizmo-button-detail {
    border-radius: 50%;
    background-color: #673d6d;
    height: 22px;
    width: 64px;
    left: calc(50% - 32px);
    z-index: 1;
    position: absolute;
    bottom: 15px;
  }

  .gizmo-button i,
  .gizmo-button-large i {
    -ms-transform: scaleY(0.5); /* IE 9 */
    -webkit-transform: scaleY(0.5); /* Safari prior 9.0 */
    transform: scaleY(0.5) translateY(-28px); /* Standard syntax */
    position: relative;
    z-index: 2;
    font-size: 30px;
    pointer-events: none;
  }

  .gizmo-button-build-container {
    width: 200%;
    margin-top: 2px;
    height: 100%;
  }

  .gizmo-button-large {
    left: calc(50% - 90px);
    bottom: 30px;
    width: 180px;
    text-align: center;
    height: 14px;
    margin: 0 auto;
    position: absolute;
    z-index: 2;
    cursor: pointer;
    transition: height 0.15s ease, background-color 0.25s linear;    
  }

    .gizmo-button-large:before {
      content: '';
      height: 45px;
      width: 100%;
      position: absolute;
      border-radius: 5px;
      top: -15px;
      left: 0;
      z-index: 2;
      transition: background-color 0.25s linear;
    }

    .gizmo-button-large:after {
      content: '';
      height: 20px;
      width: 100%;
      position: absolute;
      border-radius: 0 0 5px 5px;
      bottom: -25px;
      left: 0;
      z-index: 1;
      transition: background-color 0.25s linear;
    }

  .gizmo-button-large-detail {
    border-radius: 5px;
    background-color: #673d6d;
    height: 42px;
    width: 190px;
    left: calc(50% - 95px);
    z-index: 1;
    position: absolute;
    bottom: 0px;
  }

  .gizmo-button-new {
    background-color: #e44141;
  }

  .gizmo-button-new i {
    color: #c72525;
  }

    .gizmo-button-new:before {
      background-color: #e44141;
      border: 4px solid #c72525;
      box-sizing: border-box;
    }

    .gizmo-button-new:after {
      background-color: #e44141;      
    }

    .gizmo-button-new:hover,
    .gizmo-button-new:hover:before,
    .gizmo-button-new:hover:after {
      background-color: #fd2b2b;
    } 

    .gizmo-button-paint {
      background-color: #4cd3e4;
    }

    .gizmo-button-paint i {
      color: #2eafbf;
    }

    .gizmo-button-paint:before {
      background-color: #4cd3e4;
      border: 4px solid #2eafbf;
      box-sizing: border-box;
    }

    .gizmo-button-paint:after {
      background-color: #4cd3e4;      
    }

    .gizmo-button-paint:hover,
    .gizmo-button-paint:hover:before,
    .gizmo-button-paint:hover:after {
      background-color: #19e0f9;
    }

.gizmo-button-frame {
  background-color: #ff906d;
}

  .gizmo-button-frame i {
    color: #fb6a43;
  }

    .gizmo-button-frame:before {
      background-color: #ff906d;
      border: 4px solid #fb6a43;
      box-sizing: border-box;
    }

    .gizmo-button-frame:after {
      background-color: #ff906d;    
    }

    .gizmo-button-frame:hover,
    .gizmo-button-frame:hover:before,
    .gizmo-button-frame:hover:after {
      background-color: #ff9800;
    }

  .gizmo-button-decals {
    background-color: #ecde5f;
  }

  .gizmo-button-decals i {
    color: #d2c446;
  }

    .gizmo-button-decals:before {
      background-color: #ecde5f;
      border: 4px solid #d2c446;
      box-sizing: border-box;
    }

    .gizmo-button-decals:after {
      background-color: #ecde5f;  
    }

    .gizmo-button-decals:hover,
    .gizmo-button-decals:hover:before,
    .gizmo-button-decals:hover:after {
      background-color: #ffe91c;
    }

  .gizmo-button-build {
    color: #42c490;
  }

  .gizmo-button-build i {
    color: #42c490;
  }

    .gizmo-button-build:before {
      background-color: #49e6a7;
      border: 4px solid #42c490;
      box-sizing: border-box;
    }

    .gizmo-button-build:after {
      background-color: #49e6a7;
    }

    .gizmo-button-build:hover,
    .gizmo-button-build:hover:before,
    .gizmo-button-build:hover:after {
     background-color: #07ff9b;
    }  

  .gizmo-button-mousedown {
    height: 8px;
  }

.gizmo-result-container {
  grid-area: 13 / 5 / -1 / -1;
  display: grid;
  grid-template: repeat(6, 50px) / repeat(4, 1fr);
  border-radius: 2px;
  overflow: hidden;
  position: relative;
}

  .gizmo-result-track-container {
    grid-area: 6 / 1 / -1 / -1;
    background-color: #cecfd1;
    border-bottom: 4px solid #673d6d;
  }  

#clouds {
  opacity: 0.0;
}

#clouds > div {
  width: 80px;
  height: 80px;
  background-color: #fff;
  position: absolute;
  left: calc(50% - 50px);
  top: -85px;
  box-shadow: 0 0 0 4px #673d6d;
  border-radius: 50% 50% 0% 50%;
  z-index: 2;
}

  #clouds .cloud-left {
    left: 100px;
    transform: rotate(5deg);    
  }   

  #clouds .cloud-center { 
    top: -100px;
    left: 190px;
    transform: rotate(45deg);
  }

  #clouds .cloud-right {
    left: 280px;
    transform: rotate(85deg);
  }

  /*#clouds:before,
  #clouds:after {
    position: absolute;
    border-radius: 25%;
    content: '';
    position: absolute;
    opacity: 1.0;
  }

  #clouds:before {
    left: -16px;
    bottom: -16px;
    border-radius: 6px;
    border-top: 14px solid transparent;
    border-right: 28px solid #ccc;
    border-bottom: 14px solid transparent;
    transform: rotate(-45deg);
  }*/

  .dustClouds {
    animation-name: dustClouds;
    animation-duration: 1.5s;
    animation-timing-function: cubic-bezier(.13,1.27,.31,.9);
  }

  .dustClouds .cloud-left {
    animation-name: dustCloudsLeft;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
  }

  .dustClouds .cloud-center {
    animation-name: dustCloudsCenter;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
  }

  .dustClouds .cloud-right {
    animation-name: dustCloudsRight;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
  }

@keyframes dustClouds {
  0% {
    opacity: 1.0;
  }
  100% {
    opacity: 0.0;
  }
}

@keyframes dustCloudsLeft {
  0% {
    top: -100px;
    left: calc(0% + 50px);    
  }
  100% {
    top: -130px;
    left: 0%;
  }
}

@keyframes dustCloudsCenter {
  0% {
    top: -120px;
  }
  100% {
    top: -150px;
  }
}

@keyframes dustCloudsRight {
  0% {
    top: -100px;
    left: calc(100% - 150px);
  }
  100% {
    top: -130px;
    left: calc(100% - 100px);
  }
}


/* Gizmo Assembly */

.gizmo {
  position: absolute;
  background-image: url('../../images/gizmo.svg');
  background-size: 350px;
  background-position: center bottom;
  background-repeat: no-repeat;
  transition: left 1.0s, transform 0.125s ease-out, bottom 2.0s;
  transform: rotate(0deg);
  /*transition-timing-function: cubic-bezier(1,.01,.56,1.19);*/
  transform-origin: bottom center;
  bottom: calc(100%  - 200px);
  left: -100%;
  height: 300px;
  width: 420px;
  /*grid-area: 1 / 1 / 5 / -1;*/
}

.gizmoFall {
  animation-name: gizmoFall;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
  bottom: 0;
}

@keyframes gizmoFall {
  0% {
    bottom: calc(100%  - 200px);
  }
  85% {
    transform: rotate(10deg);
  }
  90% {
    transform: rotate(0deg);
    bottom: 0;
  }
  95% {
    transform: rotate(-4deg);
  }
  100% {
    transform: rotate(0deg);
    bottom: 0;
  }
}

  @media (min-width: 1024px) {
  .gizmos-container:before {
    content: '';
    opacity: 0;
  }

  .gizmos-container:after {
    display: none;
  }
}

.wheel {
  position: absolute;
  bottom: 8px;
  height: 65px;
  width: 65px;
  background-image: url('../../images/wheel.svg');
  background-repeat: no-repeat;
  transition: transform 0.25s;
}

  .wheel:first-child {
    left: 42px;
  }

   .wheel:last-child {
    right: 123px;
  }

.vehicle-rollout .wheel {
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}