.gizmo-mechanic-container {
  grid-area: 13 / 1 / -1 / 5;
  display: grid;
  grid-template: repeat(6, 50px) / repeat(4, 1fr);
  position: relative;
}

  #gizmo-mechanic-outer {
    position: absolute;
    grid-area: 1 / 1 / 6 / -1;
    margin-left: 20px;
    width: 25%;
    height: 52%;
    bottom: 0;
    transform: rotate(0deg);
    transition: margin-left 0.45s, transform 0.5s linear;
  }

  #gizmo-mechanic-upper {
    position: relative;
    background-color: #cecfd1;
    border-radius: 3px;    
    border: 4px solid #673d6d;
    border-radius: 10px 10px 3px 3px;
    box-sizing: border-box;
    height: 75px;
    width: 128px;
    margin: 0 auto;
    z-index: 3;
  }

    #gizmo-mechanic-upper:before {
      content: '';
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 6px;
      background-color: #afa3b3;
    }

  .gizmo-mechanic-tower {    
    height: calc(100% - 21px);
    width: 40px;
    margin: 0 auto;
    position: absolute;
    bottom: 21px;
    left: calc(50% - 20px);
    z-index: -1;
     border: 4px solid #673d6d;
    background-color: #afa3b3;
    box-sizing: border-box;
    background-image: repeating-linear-gradient(-33deg, transparent, transparent 4px, rgba(206,207,209,1) 4px, rgba(206,207,209,1) 50px);
    z-index: 2;
  }

.gizmo-mechanic-base {
  grid-area: 7 / 1 / 8/ 2;
  position: absolute;
  bottom: 0;
  left: calc(50% - 64px);
  height: 25px;
  width: 128px;
  background-color: #cecfd1;
  border-radius: 3px;    
  border: 4px solid #673d6d;
  border-radius: 10px 10px 0px 0px;
  box-sizing: border-box;
}

  .gizmo-mechanic-base:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 8px;
    background-color: #afa3b3;
  }

  .gizmo-mechanic-base-gear-container {
    position: absolute;
    top: -15px;
    left: 15%;
    height: 54px;
    width: 70%;
    z-index: -1
  }

  .gizmo-mechanic-base-gear-left {
    float: left;
  }

  .gizmo-mechanic-base-gear-right {
    float: right;
  }

.gizmo-mechanic-base-gear-left,
.gizmo-mechanic-base-gear-right {
  position: relative;
  width: 40px;
  height: 40px;
  border: 4px solid #673d6d;
  box-sizing: border-box;
  border-radius: 50%;
  animation-name: spin;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.gizmo-mechanic-base-gear-left:after,
.gizmo-mechanic-base-gear-right:after {
  content: '';
  position: absolute;
  top: -4px;
  left: -4px;
  width: 40px;
  height: 40px;
  display: inline-block;
  background: #afa3b3;
  border: 4px solid #673d6d;
  box-sizing: border-box;
  border-radius: 50%;
}

@keyframes spin {
  from {transform: rotate(0deg); }
  to {transform: rotate(360deg);}
}


.gizmo-mechanic-base-gear-left .center,
.gizmo-mechanic-base-gear-right .center {
  position: absolute;
  top: -14px;
  left: -14px;
  z-index: -1;
  width: 60px;
  height: 60px;
  background:  #cecfd1;
  border-radius: 50%;
  }

  .tooth{
  position: absolute;
  top: -20px;
  left: 10px;
  z-index: -1;
  width: 15px;
  height: 70px;
  background:  #cecfd1;
}

.tooth:nth-child(2){
  transform: rotate(45deg);
}

.tooth:nth-child(3){
  transform: rotate(90deg);
}

.tooth:nth-child(4){
  transform: rotate(135deg);
}

.gizmo-mechanic-track-container {
  grid-area: 6 / 1 / -1 / 5;
  background-color: #cecfd1;
  border-bottom: 4px solid #673d6d;
}

  .gizmo-mechanic-track-upper,
  .gizmo-result-track-upper {
    width: 100%;
    height: 14px;
    border-top: 4px solid #673d6d;
    border-bottom: 4px solid #673d6d;
    position: relative;
  }

    .gizmo-mechanic-track-upper:after,
    .gizmo-result-track-upper:after {
      content: '';
      width: 100%;
      height: 6px;
      bottom: -10px;
      left: 0;
      background-color: #afa3b3;
      position: absolute;
    }

.mechanicRaise {
  animation-name: mechanicRaise;
  animation-duration: 1.0s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes mechanicRaise {
  0% {
    height: 52%;
  }

  25% {
    height: 62%;
  }

  50% {
    height: 75%;
  } 

  100% {
    height: 105%;
  }
}

.mechanicShake {
  animation-name: mechanicShake;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes mechanicShake {
  0% {
    transform: rotate(5deg);
  }

  10% {
    transform: rotate(-5deg);
  }

  15% {
    transform: rotate(5deg);
  }

  20% {
    transform: rotate(-5deg);
  }

  25% {
    transform: rotate(5deg);
  }

  30% {
    transform: rotate(-5deg);
  }

  40% {
    transform: rotate(5deg);
  }

  50% {
    transform: rotate(-5deg);
  }

  60% {
    transform: rotate(5deg);
  }

  70% {
    transform: rotate(-5deg);
  }

  80% {
    transform: rotate(5deg);
  }

  90% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.mechanicLower {
  animation-name: mechanicLower;
  animation-duration: 1.25s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes mechanicLower {
  0% {
    height: 105%;
  }

  25% {
    height: 85%;
  }

  50% {
    height: 74%;
  }

  75% {
    height: 63%;
  }

  100% {
    height: 52%;
  }
}